.code-number span {
    display: inline-block;
    text-align: right;
    width: 50px;
}

.aboutme-container {
    font-weight: 600;
    color: #d7d7d7;
    font-size: 40px;
}
.code-section {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap:30px;
    overflow: hidden;
    cursor:default;
}

.code-number {
    font-weight: 600;
    color: #413f3f;
    font-size: 40px;
}

.content-title {
    color: #68cdfe;
}

.content {
    color:#d7d7d7;
    font-size: 26px;
    white-space: pre;
    width: fit-content;
}

.card {
    width: 200px;
    height: 100px;
    margin-left: 20px;
}

.card img{
    width: 100%;
    height: 100%;
}

.content.selected {
     /* Preserve whitespace and line breaks */
    border-right: 2px solid black; /* Create a cursor effect */
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #d7d7d7;
    }
  }
  