.home-container {
    font-weight: 600;
    color: #d7d7d7;
}

.home-container{
    font-size: 40px;
}

.angle-bracket {
    color: #cccccc;
}

.content {
    color: #428ac9;
}

.content-class {
    color: #9cdcfe;
}

.content-class-text {
    color: #c3915b;
}